<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<LINK rel="stylesheet" type="text/css"  href='css/mystyle.css'>
<title>Homepage Docente</title>
</head>
<body>
	<div align="right">
		<a class="logout" th:href="@{/Logout}">Logout</a>
	</div>
	<h3 class="blueTitle">Benvenuto nella Homepage Docente!</h3>
  <p class="paragraph" th:text="${'E\' bello rivederti,  ' + session.docente.nome + ' ' + session.docente.cognome + '!'}">
    E' bello rivederti, Federico Bianchi!
  </p>
  <br>
  	<p class="paragraph" th:if="${isScaglioniEmpty}">Non sei ancora stato assegnato a nessun corso.</p>
  	<div th:if="${!isScaglioniEmpty}">
  		<p>Usa la seguente lista per ispezionare i corsi a cui sei stato assegnato:</p>	
		<table>
			<tr>
				<td>
					<table class="blueTable" border="1">
						<thead>
							<tr class="blueTable">
								<th class="blueTable">ID scaglione</th>
								<th class="blueTable">Nome insegnamento</th>
								<th class="blueTable">Anno</th>
							</tr>
						</thead>
						<tbody class="blueTable">
							<tr  class="blueTable" th:each="s : ${scaglioni}">
								<td class="blueTable">
									<a href="HomepageDocente.html"
										th:href="@{/HomepageDocente(id_scaglione=${s.id})}"><span
											th:text="${s.id}"></span>
									</a>
								</td>
								<td  class="blueTable" th:text="${s.nome_insegnamento}">Esempio di anno</td>
								<td class="blueTable" th:text="${s.anno}">Esempio di anno</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td>
					<div th:if="${!isAppelliEmpty}">
						<table class="blueTable" border="1">
							<thead>
								<tr>
									<th class="blueTable" th:text="${'ID scaglione: ' + scaglione_id}">ID scaglione: 7 </th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<table class="blueTable" border="1">
											<thead>
												<tr class="blueTable">
													<th class="blueTable">ID esame</th>
													<th class="blueTable">Data esame</th>
												</tr>
											</thead>
											<tbody class="blueTable">
												<tr  class="blueTable"th:each="a : ${appelli}">
													<td class="blueTable">
														<a href="IscrittiPage.html" onclick="GoToIscrittiPage"
															th:href="@{/IscrittiPage(id_appello=${a.id}, sortBy='matricola', sortOrder='asc')}"><span
																th:text="${a.id}">Esempio di appello</span>
														</a>
													</td>
													<td class="blueTable" th:text="${a.getDate()}">Esempio di data</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<p class="paragraph" th:if="${isAppelliEmpty}">Non ci sono ancora appelli disponibili per questo scaglione</p>
				</td>
			</tr>
		</table>
  	</div>
	
</body>
</html>